h1,h2,h3,h4,h5,h6,label,input,p,div,span,table,tr,td {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
	margin: 0;
	width: 100%;
}

	#map-canvas {
		width: 90%;
		height: 50%;
		margin: 0 auto;
	}

	#find {
		border: 1px solid #357ebd;
		background-color: #428bca;
		color: #fff;
		border-radius: 4px;
		width: 95%;
		font-size: 1.1em;
		padding: 0.2em;
		margin: 0.1em auto;
		display: block;
	}
	ol.stations {
	    list-style-position: inside;
		padding:0;
	}
	.stations > li {
		padding: 0.3em 0.5em 0.3em;
	}
	.stations .name {
		font-weight: bold;
	}
	.stations .hours {
		text-align: center;
		font-weight: bold;
	}
	.even {
		background-color: #ddd;
	}
	.stations ul.facilities {
		display:inline;
		padding: 0;
	}
	.stations li.facility {
		padding-left: 1em;
		display: inline;
		list-style-type: none;
	}
	.stations .distance {
		float: right;
		font-size: 2em;
	}
	#footer{
		padding: 1em;
	}

@media only screen and (min-width: 1024px) {
	#find{
		font-size: 2em;
	}
	#map-canvas{
		width: 98%;
	}
}
