<html>
<head>
<title>Mana Minyak?</title>
	<!-- mobile viewport -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />

    <!-- ios webapp - hide safari toolbar -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<!-- icons, ipad3, iphone retina, ipad, iphone -->
	<!-- not working well with Android. Samsung browser seems to work, Chrome doesn't.... -->
    <link rel="apple-touch-icon" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72"   href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon"                 href="ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon"                    href="ico/favicon.png">

	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app>
	<div id="stationCtrl" ng-controller="stationCtrl" class="fluid" >
		<input id="find" type="button" ng-cloak class="ng-cloak" value="Find Closest Shell Station" ng-click="findLocation()">
		<div id="search">
			<label><input type="checkbox" ng-model="searchOpen" ng-change="searchMap()">Search only open</label>
			<span ng-repeat="facility in facilities" class="search" name="facility">
					<label ng-show="facility"><input type="checkbox" ng-model="searchFacilityData[facility]" ng-change="searchMap()" value="{{facility}}">{{facility}}</label>
			</span>
		</div>
	    <div id="map-canvas"></div>
		<div ng-class="{selected: findLocationMessage, hide: !findLocationMessage}" id="info">{{findLocationMessage}} <a href="#" ng-show="findLocationMessage" ng-click="dismissInfo()">[x]</a></div>
		<h3 ng-cloak="filteredStations" ng-hide="filteredStations">None available! Reduce search criteria</h3>
		<ol class="stations">
			<li ng-repeat="station in filteredStations | orderBy:'distance' | limitTo: 5" class="row" ng-class-even="'even'">
					<span class='name'><a href="" ng-click="clickMarker(station.id)">{{station.name}}</a></span>
					<strong class='distance'>{{station.distance.toFixed(2)}}km</strong>
					<div class='hours'>{{station.open}} - {{station.close}}</div>
					<span ng-if="station.facilities && station.facilities.length > 0">
						<ul class="facilities">
							<li class="facility" ng-repeat="facility in station.facilities">[{{facility}}]</li>
						</ul>
					</span>
					
			</li>
  		</ol>
</div>
	<div id="footer">Data from <a href="http://www.bsm.com.bn/index.php/business-partner/retail-station">bsm.com.bn</a>. Source: <a href="https://github.com/thewheat/brunei-map-petrol/"> on Github</a></div>
	<script src="lib/angular/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyAReROBMpqXsgxtK28CAVvYflWxAfzATmY"></script>

	<script src="js/app.js"></script>
</body>
</html>
