<html>
<head>
<title>Mana Minyak?: Petrol / Gas station map for Brunei</title>
	<!-- mobile viewport -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />

    <!-- ios webapp - hide safari toolbar -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<link rel="apple-touch-icon-precomposed" sizes="57x57"   href="ico/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72"   href="ico/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60"   href="ico/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="ico/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76"   href="ico/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="ico/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="ico/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="ico/favicon-96x96.png"   sizes="96x96" />
	<link rel="icon" type="image/png" href="ico/favicon-32x32.png"   sizes="32x32" />
	<link rel="icon" type="image/png" href="ico/favicon-16x16.png"   sizes="16x16" />
	<link rel="icon" type="image/png" href="ico/favicon-128.png"     sizes="128x128" />
	<meta name="application-name" content="Minyak Mana?"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage"         content="ico/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo"   content="ico/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="ico/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo"   content="ico/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="ico/mstile-310x310.png" />



	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />


	<meta property="og:title" content="Mana Minyak?">
	<meta property="og:description" content="A map showing the closest petrol / gas station">
	<meta property="og:image" content="https://thewheat.github.io/brunei-map-petrol/ico/opengraph.png">
	<meta property="og:url" content="https://thewheat.github.io/brunei-map-petrol/">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@thewheat">
	<meta name="twitter:title" content="Mana Minyak?">
	<meta name="twitter:url" content="https://thewheat.github.io/brunei-map-petrol/">
	<meta name="twitter:description" content="A map showing the closest petrol / gas station">
	<meta name="twitter:image" content="https://thewheat.github.io/brunei-map-petrol/ico/apple-touch-icon-144x144.png">


	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="myApp">
	<div id="stationCtrl" ng-controller="stationCtrl" class="fluid" >
		<input id="find" type="button" ng-cloak class="ng-cloak" value="Find Closest Petrol Station" ng-click="findLocation()">
		<div id="search">
			<strong>Search:</strong>
			<label><input type="checkbox" ng-model="searchOpen" ng-change="searchMapAndUpdate()">Currently Open</label> 
			<label><input type="checkbox" ng-model="searchActualDistances" ng-change="searchMapAndUpdate()">Driving Distances <a href="#estimates">[*]</a></label><br>
			<span ng-repeat="facility in facilities" class="search" name="facility">
					<label ng-show="facility"><input type="checkbox" ng-model="searchFacilityData[facility]" ng-change="searchMapAndUpdate()" value="{{facility}}">{{facility | nbsp}}</label>
			</span>
		</div>
	    <div id="map-canvas"></div>
		<div ng-class="{selected: findLocationMessage, hide: !findLocationMessage}" id="info">{{findLocationMessage}} <a href="#" ng-show="findLocationMessage" ng-click="dismissInfo()">[x]</a></div>
		<h3 class="error" ng-cloak="filteredStations" ng-hide="filteredStations">None available! Remove search filters to show results</h3>
		<ol class="stations">
			<li ng-repeat="station in filteredStations | orderBy: ['actualDistance', 'distance'] | limitTo: 5" class="row" ng-class-even="'even'" ng-class-odd="'odd'">
					<div class="distance-info">
						<strong ng-show="station.distance" class='distance'>
						<span ng-show="station.actualDistance">{{station.actualDistance.toFixed(2)}}</span><span ng-hide="station.actualDistance">{{station.distance.toFixed(2)}}</span>km<a href="#estimates" ng-hide="station.actualDistance" class="estimate">*</a>
						</strong>
						<div ng-show="station.actualTime" class="time">{{station.actualTime}}</div>
						<h5 class="directions"><a target="_blank" href="https://www.google.com/maps/dir/{{location.lat}},{{location.lng}}/{{station.lat}},{{station.lng}}/@{{location.lat}},{{location.lng}},16z/data=!4m2!4m1!3e0">Directions</a></h5>
					</div>
					<span class='name'><a href="" ng-click="clickMarker(station.id)">{{station.name}}</a></span>
					<div class='hours'>{{station.open | formatTime}} - {{station.close | formatTime}}</div>
					<span ng-if="station.facilities && station.facilities.length > 0">
						<ul class="facilities">
							<li class="facility" ng-repeat="facility in station.facilities">{{facility | nbsp}}</li>
						</ul>
					</span>
					
			</li>
  		</ol>
</div>
	<div id="footer">
	<div class="disclaimer"><a name="estimates">[*]</a>: "Driving Distances" details<ul>
	<li>When disabled, it will use estimated distances based on straight line distance and not actual driving routes and will be much quicker to calculate</li>
	<li>When enabled, it will take the top 5 closest by a straight line and calculate driving distances for those</li>
	</ul>
	</div> 

	<p>Data from <a href="http://www.bsm.com.bn/index.php/business-partner/retail-station">bsm.com.bn</a>. Source: <a href="https://github.com/thewheat/brunei-map-petrol/"> on Github</a></p>
	</div>
	<script src="lib/angular/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyAReROBMpqXsgxtK28CAVvYflWxAfzATmY"></script>

	<script src="js/app.js"></script>
</body>
</html>
